<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="../mars/css/style.css"/>

    <title>AURA_MAIN</title>
</head>
<body>

<div class="container">
    <div class="text-center">
        {% if current_lang %}
            {%  if current_lang.lang == 'ru' %}
                <p>Translate to <a id="en" class="btn btn-primary" href="{{ current_lang.link_en }}">EN</a></p>
            {%  else  %}
                <p>Перевести на <a id="ru" class="btn btn-primary" href="{{ current_lang.link_ru }}">RU</a></p>
            {%  endif %}
        {%  endif %}
    </div>
</div>
