{{ include('includes/header.html') }}

{{ include('includes/messages.html') }}

<div class="container-fluid">

    <div class="container">
        <h4 class="text-center"><span>{{ lang['EDIT_FORM'] }}: {{ user.name }}</span></h4>
        <p class="text-center"><a class="btn btn-primary" href="{{ profile }}">{{ lang['USER_PROFILE'] }}</a></p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form action="update" id="registerform" method="post" name="form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="inputEmail1">{{ lang['EMAIL_ADDRESS'] }}</label>
                        <div id="email error" class="val_error"></div>
                        <input type="text" name="email" class="form-control" value="{{ user.email }}" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="inputUserName">{{ lang['USER_NAME'] }}</label>
                        <div id="name error" class="val_error"></div>
                        <input type="text" name="name" class="form-control" value="{{ user.name }}" id="inputUserName" aria-describedby="nameHelp" placeholder="Enter User Name">
                        <p style="color: blue; font-size: 11px;">{{ lang['USERNAME_MUST'] }}</p>
                    </div>
                    <div class="form-group">
                        <label for="inputFile">{{ lang['IMAGE_INPUT'] }}</label>
                        <br>
                        <label for="inputFile"> {{ lang['CURRENT_FILE'] }}: {{ user.file_name }}</label>
                        <input type="file" name="image" class="form-control-file" id="inputFile">
                        <p style="color: blue; font-size: 11px;">{{ lang['IMAGE_MUST'] }}</p>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">{{ lang['NEW_PASSWORD'] }}</label>
                        <div id="password error" class="val_error"></div>
                        <input type="password" name="new_password" class="form-control" id="inputPassword" placeholder="{{ lang['PASSWORD'] }}">
                        <p style="color: blue; font-size: 11px;">{{ lang['PASSWORD_MUST'] }}</p>
                    </div>
                    <p class="text-center"><button type="submit" name="form" class="btn btn-primary">{{ lang['SAVE'] }}</button></p>
                </form>

            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

{{ include('includes/footer.html') }}
