{{ include('includes/header.html') }}

{{ include('includes/messages.html') }}

<div class="container-fluid">
    <div class="container text-right" style="height: 50px;">
        <?php include ('includes/langButton.php'); ?>
    </div>
    <div class="container text-center"><h4>{{ lang['LOGIN'] }}</h4></div>

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form action="login/enter" method="post" name="form" onsubmit="return Validate()">
                    <div class="form-group">
                        <label for="inputUserName">{{ lang['USER_NAME'] }}</label>
                        <div id="name error" class="val_error"></div>
                        <input type="text" name="name" class="form-control" id="inputUserName" aria-describedby="nameHelp" placeholder="{{ lang['ENTER_USER_NAME'] }}">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">{{ lang['PASSWORD'] }}</label>
                        <div id="password error" class="val_error"></div>
                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="{{ lang['PASSWORD'] }}">
                    </div>

                    <p class="text-center"><button type="submit" name="form" class="btn btn-primary">{{ lang['LOGIN'] }}</button></p>

                    <p class="text-center">{{ lang['NOT_A_MEMBER'] }} <a href="register"> {{ lang['REGISTRATION'] }}</a>!</p>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

{{ include('includes/footer.html') }}
