{{ include('includes/header.html') }}

{{ include('includes/messages.html') }}

<div class="container-fluid">

    <div class="text-center">
        <h5>{{ lang['PROFILE_PAGE'] }}</h5>
    </div>
    <br>

    <div class="container">
        <h4 class="text-center">{{ lang['WELLCOME'] }}, <span>{{ user.name }}</span></h4>
        <p class="text-center"><a class="btn btn-primary" href="{{ logout }}">{{ lang['LOGOUT'] }}</a></p>

    </div>

    <div class="container text-center">
        <div class="card" style="width: auto;">
            <div class="text-center">
                <img src="/{{ SITE }}{{ user.image_path }}" class="" alt="default" width="189" height="255">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ lang['USER_PROFILE'] }}</h5>
                <p class="card-text">{{ lang['USER_NAME'] }} : {{ user.name }}</p>
                <p class="card-text">{{ lang['USER_EMAIL'] }} : {{ user.email }}</p>
                <a href="{{ edit }}" class="btn btn-primary">{{ lang['EDIT_PROFILE'] }}</a>
            </div>
        </div>
    </div>

</div>

{{ include('includes/footer.html') }}
