{{ include('includes/header.html') }}

{{ include('includes/messages.html') }}

<div class="container-fluid">

    <div class="container text-right" style="height: 50px;">
        <?php include ('includes/langButton.php'); ?>
    </div>

    <div class="container text-center"><h4>{{ lang['REGISTRATION'] }}</h4></div>

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form action="create" id="registerform" method="post" name="form"  onsubmit="return Validate()">
                    <div class="form-group">
                        <label for="inputUserName">{{ lang['USER_NAME'] }}</label>
                        <div id="name error" class="val_error"></div>
                        <input type="text" name="name" class="form-control" id="inputUserName" aria-describedby="nameHelp" placeholder="{{ lang['ENTER_USER_NAME'] }}">
                        <p style="color: blue; font-size: 11px;">{{ lang['USERNAME_MUST'] }}</p>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1">{{ lang['EMAIL_ADDRESS'] }}</label>
                        <div id="email error" class="val_error"></div>
                        <input type="text" name="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="{{ lang['ENTER_EMAIL'] }}">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword1">{{ lang['PASSWORD'] }}</label>
                        <div id="password error" class="val_error"></div>
                        <input type="password" name="password" class="form-control" id="inputPassword1" placeholder="{{ lang['PASSWORD'] }}">
                        <p style="color: blue; font-size: 11px;">{{ lang['PASSWORD_MUST'] }}</p>
                    </div>
                    <p class="text-center"><button type="submit" name="form" class="btn btn-primary">{{ lang['REGISTER'] }}</button></p>
                    <p class="text-center">{{ lang['ALREADY_REGISTERED'] }}<a href= "login">{{ lang['LOGIN'] }}</a>!</p>
                </form>

            </div>
            <div class="col-2"></div>
        </div>
    </div>

</div>

{{ include('includes/footer.html') }}
